In [55]:
import pandas as pd

In [56]:
train = pd.read_csv("train.csv")
val = pd.read_csv("val.csv")
test = pd.read_csv("test.csv")
all = pd.concat([train, val, test])
all = all.reset_index(drop=True)

In [63]:
all[all["topic"] == "reasoning"]

,question,id,first_word,secondword,img_path,topic,answer,thirdword,fourword,len ques,...,correct,incorrect,partially correct,partially incorrect,incorrect & partially incorrect,correct & partially correct,answer_type,sum,judgements,overal_score
5,are all people sitting?,77625,are,all,S30/S30E21-14651.jpg,reasoning,no,people,sitting?,4,...,1,1,0,1,2,1,yes/no,3,"{""worker_1"": 1, ""worker_2"": 0, ""worker_3"": 0.25}",0.42
34,are all the people on the bus?,862,are,all,S28/S28E07-12601.jpg,reasoning,no,the,people,7,...,2,0,1,0,0,3,yes/no,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 0.75}",0.92
71,are all the people wearing ties?,58632,are,all,S27/S27E10-00651.jpg,reasoning,no,the,people,6,...,3,0,0,0,0,3,yes/no,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 1}",1.00
170,are the cabinets empty?,96190,are,the,S32/S32E13-02851.jpg,reasoning,no,cabinets,empty?,4,...,1,2,0,0,2,1,yes/no,3,"{""worker_1"": 1, ""worker_2"": 0, ""worker_3"": 0}",0.33
186,are the cartoons based on old cartoons?,74676,are,the,S30/S30E21-24401.jpg,reasoning,yes,cartoons,based,7,...,0,0,3,0,0,3,yes/no,3,"{""worker_1"": 0.75, ""worker_2"": 0.75, ""worker_3...",0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104287,what time of day is it?,29437,what,time,S26/S26E02-15301.jpg,reasoning,night,of,day,6,...,3,0,0,0,0,3,other,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 1}",1.00
104288,what time of day is it?,30302,what,time,S26/S26E06-21801.jpg,reasoning,night,of,day,6,...,3,0,0,0,0,3,other,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 1}",1.00
104295,what time of day is it?,63765,what,time,S27/S27E09-07051.jpg,reasoning,night,of,day,6,...,3,0,0,0,0,3,other,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 1}",1.00
104303,what time of the day is it?,42452,what,time,S25/S25E19-01851.jpg,reasoning,night,of,the,7,...,3,0,0,0,0,3,other,3,"{""worker_1"": 1, ""worker_2"": 1, ""worker_3"": 1}",1.00
104363,where are the people in relation to the firepl...,42326,where,are,S25/S25E08-04251.jpg,reasoning,right,the,people,9,...,1,1,0,0,1,1,other,3,"{""worker_1"": 0.5, ""worker_2"": 1, ""worker_3"": 0}",0.50

In [49]:
len(all)*3

314013

In [50]:
worker = pd.read_csv("User_2180562_workers.csv")

In [51]:
len(worker )

1635